<div class="w-full md:w-56 mb-5">
    <nav class="sticky block top-32 space-y-5 bg-white/10 dark:bg-gray-900/10 border border-gray-200 dark:border-gray-900 backdrop-blur rounded-md p-5">

        <a class="flex items-center" href="#installation">
            Installation
        </a>
        <a class="flex items-center ml-2" href="#to-get-started-install-vanilla-headless-via-npm">
            npm
        </a>
        <a class="flex items-center ml-2" href="#to-get-started-install-vanilla-headless-via-pnpm">
            pnpm
        </a>
        <a class="flex items-center ml-2" href="#to-get-started-install-vanilla-headless-via-yarn">
            yarn
        </a>
        <a class="flex items-center ml-2" href="#use-unpkgcom-cdn">
           cdn - unpkg.com
        </a>
        <a class="flex items-center ml-2" href="#use-jsdelivrnet-cdn">
           cdn - jsdelivr.net
        </a>
        <a class="flex items-center" href="#use">
            Use
        </a>
        <a class="flex items-center ml-2" href="#import-vanilla-headless-to-javascript-to-initialize-the-plugin">
            Use in javascript
        </a>
    </nav>
</div>