
## Installation
### To get started, install Vanilla-headless via npm:
<div class="not-prose mb-4" markdown="0">
{% highlight bash %}
npm install vanilla-headless
{% endhighlight %}
</div>

### To get started, install Vanilla-headless via pnpm:
<div class="not-prose mb-4" markdown="0">
{% highlight bash %}
pnpm add vanilla-headless
{% endhighlight %}
</div>

### To get started, install Vanilla-headless via yarn:
<div class="not-prose mb-4" markdown="0">
{% highlight bash %}
yarn add vanilla-headless
{% endhighlight %}
</div>


### Use __unpkg.com__ cdn
<div class="not-prose mb-4" markdown="0">
{% highlight html %}
<script src="https://unpkg.com/vanilla-headless@latest"></script>
{% endhighlight %}
</div>

### Use __jsdelivr.net__ cdn
<div class="not-prose mb-4" markdown="0">
{% highlight html %}
<script src="https://cdn.jsdelivr.net/npm/vanilla-headless@latest"></script>
{% endhighlight %}
</div>

## Use

### Import vanilla-headless to javascript to initialize the plugin.
<div class="not-prose mb-4" markdown="0">
{% highlight javascript %}
import "vanilla-headless"
{% endhighlight %}
</div>

