<section class="flex pt-48 items-center">
    <div class="wrapper flex gap-8">
        <div class="max-w-sm md:max-w-md lg:max-w-xl drop-shadow-md">
            <h1 class="text-5xl md:text-7xl lg:text-9xl font-black tracking-tight bg-gradient-to-r from-primary-600 via-yellow-300 to-primary-600 bg-clip-text text-transparent">{{site.title}}</h1>
            <p class="text-xl md:text-2xl my-4">Completely unstyled, fully accessible UI components, designed to integrate beautifully with Tailwind CSS.</p>
        <div class="flex">
        <div class="not-prose" markdown="0">
{%- highlight bash %}
npm install vanilla-headless
{% endhighlight %}
        </div>
        </div>
        </div>
        <div class="relative h-[400px] w-full">

        </div>

    </div>
</section>