@tailwind base;
@tailwind utilities;
@tailwind components;

@layer components {

    body::-webkit-scrollbar,
    .x-scroll::-webkit-scrollbar {
        width: 0.5em;
        height: 0.5em;
    }

    body::-webkit-scrollbar,
    .x-scroll::-webkit-scrollbar {
        background: theme('colors.gray.200');
    }

    .dark > body::-webkit-scrollbar,
    .dark > .x-scroll::-webkit-scrollbar {
        background: theme('colors.gray.700');
    }

    body::-webkit-scrollbar-track,
    .x-scroll::-webkit-scrollbar-track {
        box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1);
    }

    body::-webkit-scrollbar-thumb,
    .x-scroll::-webkit-scrollbar-thumb {
        background-color: theme('colors.primary.500');
        border-radius: 5px;
    }


    body {
        /*background-size: 32px 32px;*/
        /*background-image:*/
        /*        linear-gradient(to right, rgba(255,255,255,0.1) 1px, transparent 1px),*/
        /*        linear-gradient(to bottom, rgba(255,255,255,0.1) 1px, transparent 1px);*/
        background-image: url("/assets/img/bg-grid-light.png");
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .dark body{
        background-image: url("/assets/img/bg-grid.png");
    }

    .wrapper {
        @apply max-w-8xl mx-auto px-4 md:px-6 lg:px-8 w-full;
    }


    .codeHeader {
        @apply w-full flex justify-between items-center px-4 py-1 bg-gray-200/80 dark:bg-gray-900/80 backdrop-blur-md rounded-t-md relative border dark:border-gray-800 border-gray-300 border-b-0;
    }

    .codeHeader span {
        @apply text-primary-500 italic text-sm;
    }


    .btn-copy {
        @apply relative px-2 py-2 -right-3 rounded-md bg-gray-200 text-gray-600 dark:hover:bg-gray-800 hover:dark:border-gray-900 hover:bg-gray-300 inline-block dark:bg-gray-900;
    }

    .go-right {
        @apply right-2 top-2 absolute z-20 inline-block;
    }

    @keyframes copy {
        0% {
            transform: scale(0) translateX(20px);
        }
        100% {
            transform: scale(1) translateX(0);
        }
    }

    .copied {
        transform-origin: right center;
        animation: copy 100ms cubic-bezier(.39,1.69,1,1.15);
        @apply absolute z-10 top-0 right-full bg-gray-200 dark:bg-gray-900 text-green-500 px-2 py-1 rounded-md block mr-2 shadow;
    }


    @keyframes open {
        0% {
            opacity: 0;
            transform:  scale(0);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }


    .grad {
        background: conic-gradient(from 90deg at 50% 50%, #f6712a 45deg, #29eaea 180deg, #b32ae9 0.75turn);
    }

}

@import "highlighter.css";