<div
        class="h-px bg-gradient-to-r from-transparent via-gray-200 dark:via-gray-800 to-transparent -inset-x-12 absolute -top-4"></div>
<div
        class="h-px bg-gradient-to-r from-transparent via-gray-200 dark:via-gray-800 to-transparent -inset-x-12 absolute -bottom-4"></div>
<div
        class="w-px bg-gradient-to-b from-transparent via-gray-200 dark:via-gray-800 to-transparent -inset-y-12 absolute -left-4"></div>
<div
        class="w-px bg-gradient-to-b from-transparent via-gray-200 dark:via-gray-800 to-transparent -inset-y-12 absolute -right-4"></div>