<div class="col-span-3 relative p-px overflow-hidden rounded-md">
    <div
            class="absolute inset-0 blur-xl bg-gradient-to-r from-primary-600 via-pink-300 to-primary-800 rounded-md"></div>
    <div class="relative z-10 bg-white dark:bg-gray-900 p-5  w-full rounded-md">
        <a href="{{include.content.url}}" class="text-xl hover:underline rounded-md">{{include.content.name}}</a>
    </div>
</div>